@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}

header{
	width: 100%;
	height: 112px;
	line-height: 112px;
	text-align: center;
	background-color: gray;
	color: white;
}

nav ul{
	width: 100%;
	height: 48px;
	line-height: 48px;
	background: #333;
	color: white;
}

nav ul li{
	float: left;
	list-style: none;
	padding-left: 32px;
}

a{
	text-decoration: none;
	color: white;
}

table, tr, th, td{
	border: 1px solid #333;
}

table{
	margin: 0 auto;
}

table th{
	width: 200px;
}

table td{
	width: 250px;
}

h2{
	padding: 48px 0 64px 0;
	text-align: center;
}

footer{
	width: 100%;
	height: 64px;
	line-height: 64px;
	text-align: center;
	background-color: gray;
	color: white;
	
	bottom: 0px;
	position: fixed;
}

span{
	display: inline-block;
	margin-left: 20px;
}

button > a{
	color: black;
}