@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	height: 112px;
	line-height: 112px;
	text-align: center;
	background-color: blue;
	color: white;
}

nav ul {
	width: 100%;
	height: 48px;
	background-color: brown;
	color: white;
	display: flex;
	justify-content: center; 
	align-items: center;    
	list-style: none;
	padding: 0;
	margin: 0;
}


nav ul li{
	margin: 0 30px;
}

a{
	text-decoration: none;
	color: white;
}

table, tr, th, td{
	border: 1px solid #333;
}

table{
	margin: 0 auto;
}

table th{
	width: 400px;
}

table td{
	width: 400px;
}

h2{
	padding: 48px 0 64px 0;
	text-align: center;
}

p{
	float: left;
	margin: 0 0 0 16px;
}

footer{
	width: 100%;
	height: 64px;
	line-height: 64px;
	text-align: center;
	background-color: lightblue;
	color: black;
	
	bottom: 0px;
	position: fixed;
}