@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

header{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: lightblue;
	color: black;
}

nav ul{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: blue;
	color: white;
}

nav ul li{
	float: left;
	list-style: none;
	padding-left: 60px;
	padding-right: 60px;
}

a{
	text-decoration: none;
	color: white;
}

table, tr, th, td{
	border: 1px solid #333;
}

table{
	margin: 0 auto;
}

table th{
	width: 400px;
}

table td{
	width: 400px;
}

h2{
	padding: 48px 0 64px 0;
	text-align: center;
}

p{
	float: left;
	margin: 0 0 0 16px;
}

section{
	padding-bottom: 64px;
}

footer{
	width: 100%;
	height: 64px;
	line-height: 64px;
	text-align: center;
	background-color: lightblue;
	color: black;
	
	bottom: 0px;
	position: fixed;
}